:root{
    --text: #0d0d0d;
    --subtitle: #0d0d0d;
    --background: #ebebebb1;
    --primary-button: #404040;
    --secondary-button: #ffffff;
    --accent: #0d0d0d;
}

h2{
    margin-block:2rem;

}

p, h3{
    margin-block:1rem;
}

h3{
   font-size:1.5rem;
}

.wrapper{
    text-align: center;
}

figcaption{
    position: absolute;

    font-size:.6rem;
    background-color: var(--accent);
    background-color: #0d0d0d;
    color: #f1f1f1;
    display:inline-block;
    padding:.4rem 1rem;
    border-radius:2rem;

    bottom:1rem;
    left:1rem;
}

.blog-image{
    position: relative;
}

.about-container, .story-container{
    width:65%;

    position: relative;

    margin-inline:auto;
    text-align: left;

    background-color: #ebebebb1;
    padding:1rem 2rem;
    border-radius:.3rem;

    margin-block:2rem;

    & img{
        width:100%;
        margin-inline:auto;
        height:25rem;
        border-radius: .3rem;

        object-fit: cover;
    }
}