::root{
    --clr-action: #8f7efb;

    --clr-primary-100: #FDFCFC;
    --clr-primary-90: #e1e1e1;
    --clr-primary-80: #d9d9d9;
    --clr-primary-70: #cdcdcd;
    --clr-primary-60: #f1f1f1;
    --clr-primary-50: #f1f1f1;
    --clr-primary-0: #080707;
    --clr-primary-10: #0D0D0D;


	--text: #080707;
	--background: #fdfcfc;
	--primary-button: #353331;
	--secondary-button: #f5f5f4;
	--accent: #0d0d0d;
}

.hero{
	width: 100%;
	height: 100vh;

	display:flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;
	text-align: center;

	color:#ededed; 

    background-image: url(../images/hero.png);
    background-size: cover;
    background-position: center;

	& > *{
		margin-block: 1rem;
	}

    & p{
        padding-inline:2rem;
        text-wrap:balance;
    }

    & img{
        height:200px;
	    width:auto;

	    aspect-ratio: 9 / 9;
    }

    & .hero-header{
        font-size:3em;
    }
    
    & .hero-cta{
        color:#f1f1f1;
    
        border: 2px solid #f1f1f1;
    
        padding:1rem;
        border-radius:10px;
    
        text-decoration: none;
        display:block;
    
        transition:linear .3s;
    
        &:hover, &:focus, &:active{
            background-color: #f1f1f1;
            color:#080707;
    
            mix-blend-mode: screen;
        }
    }
}

.hero1{
	background-image:url('../images/hero.png')
}



article{
    text-align: center;
    margin-inline:0;
    padding-top:0;
    padding-inline:0;
}

section{
    padding-block:1.5rem;
    margin-block:0 2rem;
    
    &:nth-of-type(2){
        margin-top:-2rem 0;
    }
}

.featured-footer{
    margin-block:0rem;
}

.featured-container{
    margin-inline:auto;
    width:100%;

    display:grid;
    grid-auto-flow: column;

    align-items: center;
    justify-content: center;

    margin-block:1rem;
    gap:2rem;

    &::-webkit-scrollbar{
        background-color: #d9d9d9;
    }

    &::-webkit-scrollbar-thumb{
        background-color:#b3b3b3;
        border-radius:5rem;
    }
}

.featured{
    margin-block:1rem;
    padding-block:0.5rem;
    padding-inline:.5rem;
    width:18.75rem;
    height:24rem;

    /*if title is two lines long, bring height up to 26rem*/

    position: relative;

    background-color: #e8e8e8;
    border-radius:3px;

    &:hover{
        box-shadow:0px  0px 5px 0px #7e7e7e41;
    }

    & .content-container{
        display:block;
        margin-inline:auto;
    }

    & img{
        width:17.75rem;
        height: 17.75rem;
        aspect-ratio: 9 / 9;
        object-fit: cover;

        display:block;
        border-radius:3px;
        margin-inline:auto;

        border-radius: 3px;

        margin-block:.5rem 1rem;
    }

    & h4{
        margin-block:0.25rem 0.5rem;
    }
}

@media only screen and (max-width:649px){
    .featured-container{

        width:100%;
        text-align: left;
        

        align-items: center;
        justify-content: center;
        display:grid;
        grid-auto-flow: row dense;

        overflow-x:scroll;

        gap:0rem;
    }
}

@media only screen and (min-width:650px){
    .featured-container{
        display:flex;
        flex-wrap: wrap;
    
        margin-block:1rem -1rem;
        gap:0rem 2rem;   
    }
}

@media only screen and (min-width:1001px){

    .featured-container{
        margin-inline:auto;
        width:100%;
    
        display:grid;
        grid-auto-flow: column;
    
        align-items: center;
        justify-content: center;
    
        text-align: left;
    
        margin-block:1rem -1rem;
        gap:2rem;
    }
}

.link-to{
    font-size:1rem;
    margin-block:0.75rem 0;
    background-color: var(--primary-button);
    background-color: #0d0d0d;
    color: #f1f1f1;
    display:inline-block;
    padding:.4rem 1.2rem;
    border-radius:.25rem;

    margin-block:1rem;
    
    transition: linear .3s;
    
    cursor: pointer;
    
    & > a{
        color: #FFF;
        text-decoration:none;
    }
    
    &:hover{
        background-color: var(--accent);
        background-color: #404040;
    }
}



.about-us-section{
    padding-top:-1rem;

    background-color: var(--clr-primary-70);
    background-color: #cdcdcd;

    text-align: center;
}

.about-container{
    text-align: left;
    width:65%;
    margin-inline:auto;
    padding:1rem;

    justify-content: center;
    align-items: start;

    & p:nth-of-type(1){
        margin-top:0rem;
    }
}

@media only screen and (max-width:700px){
    .about-container{
        width:90%;
    }

    #about-para1::after{
        content: "\a \a";
        white-space: pre;
    }
}

@media only screen and (max-width:1000px){
    .about-container{
        width:80%;
    }
    
    #about-para1::after{
        content: "\a \a";
        white-space: pre;
    }
}



.socials-section{
    margin-bottom:-2rem;

    background-color: #e1e1e1;
    /* background-color: var(--clr-primary-90); */

    text-align: center;
}

.socials-container{
    text-align: left;
    width:65%;
    margin-inline:auto;
    padding:1rem;

    justify-content: center;
    align-items: start;

    & p{
        margin-block: -2rem;
    }
}

h2{
    text-wrap:balance;
}

@media only screen and (max-width:700px){
    .socials-container{
        width:90%;
    }

}

@media only screen and (max-width:1000px){
    .socials-container{
        width:80%;
    }
}

.socials-container > .follow{
    margin-block:3rem !important;
}






