:root{
    --text: #0d0d0d;
    --subtitle: #0d0d0d;
    --background: #e8e8e8;
    --primary-button: #404040;
    --secondary-button: #ffffff;
    --accent: #0d0d0d;
    }
    

article{
    text-align: center;
}

.shop-item{
    text-align: left;

    background-color: var(--background);
    background-color: #ebebebb1;

    display:grid;

    position:relative;

    padding:1rem;
    margin-block:1rem;

    border-radius:.3rem;

    color:var(--text);
    color:#080707;

    width:18.75rem;
    height:25rem;
}

.shop-item img{
    width:16.75rem;
    height: 17.75rem;
    aspect-ratio: 9 / 9;
    object-fit: cover;

    display:block;
    border-radius:3px;
    margin-inline:auto;

    border-radius: 3px;
}

.item-tags span{
    margin-inline:0 1rem;
    font-size:.75rem;
    background-color: var(--accent);
    background-color: #0d0d0d;
    color: #f1f1f1;
    display:inline-block;
    padding:.4rem 1rem;
    border-radius:2rem;
}

#header0, #header2{
    margin-bottom:2rem;
}


@media only screen and (min-width:300px){
    .shop-container{
        display:grid;
        grid-auto-flow: row;
    }

    .wrapper{
        display:grid;
        grid-auto-flow: row;

        align-items: center;
        justify-content: center;
    }

    #header0, #header2{
        margin-bottom:1rem;
    }
}

@media only screen and (min-width:750px){
    .shop-container{
        display:grid;
        grid-auto-flow: row;
        grid-template-columns: 1fr 1fr;
        gap:1rem; 
    }
}

@media only screen and (min-width:1000px){
    .shop-container{
        display:grid;
        grid-auto-flow: row;
        grid-template-columns: 1fr 1fr 1fr;
        gap:.5rem 1.5rem; 
    }
}

h3{
    font-size:1.4rem;
    margin-block:.75rem .75rem;
}

.article-header{
    font-size:2rem;
}
