/**FOR ALL PAGES*/



@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*,
*::before,
*::after{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

::root{
    --clr-action: #8f7efb;

    --clr-primary-100: #FDFCFC;
    --clr-primary-90: #e1e1e1;
    --clr-primary-80: #d9d9d9;
    --clr-primary-70: #f1f1f1;
    --clr-primary-60: #f1f1f1;
    --clr-primary-50: #f1f1f1;
    --clr-primary-0: #080707;
    --clr-primary-10: #0D0D0D;


	--text: #080707;
	--background: #fdfcfc;
	--primary-button: #353331;
	--secondary-button: #f5f5f4;
	--accent: #0d0d0d;
}

html, body{
    font-family:'Inter', Arial, Helvetica, sans-serif;

	color: #080707;
	background-color: #d9d9d9;

	z-index: 1;

	overflow-x:hidden;
	width:100%;
}



nav ul{
	list-style-type:none;
}

.nav-links-container{
	display:block;
	font-size:20px;
	margin-left:-2px;

	& a:hover{
		text-decoration: underline;
	}
}

nav{
	background-color: #0D0D0D;
	z-index: 100;
	padding:1rem;
	color:#FFF;

	& > .logo-container{
		display:flex;
		flex-direction: row;

		align-items: center;

		padding:.25rem;

	}

	& ul{
		list-style-type:none;
		font-size:.75em;
		display:inline-block;
		margin-right:1em;

		position: absolute;
		background-color: #0D0D0D;
		padding-left:3rem;
		margin-left:-2rem;
		display: block;
		width:105%;
		padding-block: 0.5rem 1rem;

		& li > a{
			font-size:1rem;
			display:block;
			width:100%;
			cursor:pointer;
			margin-block:.05rem;

			&:hover{
				text-decoration: underline;
			}
		}
	}
}

.nav-link{
	display:inline-block;

    text-decoration: none;

	color: #f1f1f1;

    &:hover, &:active{
        text-decoration: underline;
        text-underline-offset: .15rem;
        text-decoration-thickness: .1rem;
    }

	&:focus-visible{
		text-decoration:none;
	}
}

nav details {
	& > summary::-webkit-details-marker{
		display:none;
	}

	& summary{
		position:absolute;
	right:.9rem;
	top:.9rem;
	padding:.75em;
	font-size:1rem;
	cursor:pointer;
	list-style: none;
	}
}

.hidden-links{
	margin-left:.4rem;

}

.logo-container{
	display:flex;
	flex-direction:row;
	align-items:center;
	padding:.25em;
	margin-inline:1rem;
}

noscript{
	top:0;
	left:0;
	width:100%;
	display:inline-block;

	text-align: center;
	bottom:1rem;
}




article, footer{
	padding:2rem;
}

.section1:has(p) {
	& > p{
		margin-top:1rem;
	}
}

h2{
    font-size:2rem;
    margin-block:1rem;
}



.footer-container{
	display:grid;
    grid-auto-flow: column;
    grid-auto-columns: 30% 15%;
	gap:7rem;

	place-content: center;

	& > div > h4{
		margin-bottom:.5rem;
		font-size:1.25rem;
		text-wrap:balance;
	}
	
}

.footer-link, address, img, .email{
	font-size:1rem;
	display:inline-block;
    text-decoration: none;

	margin-inline:0.15rem;

	color:#080707;

    &:hover, &:active{
        text-decoration: underline;
        text-underline-offset: .15rem;
        text-decoration-thickness: .05rem;
    }

	&:focus-visible{
		text-decoration:none;
	}

	&.email{
		margin:0;
	}
}

.follow img{
	width:1.5rem;
	height:1.5rem;
}

.navigation, .navigation a, .legal{
	font-size:1rem;
	text-align: center;
	margin-block:.25rem;

	&.navigation{
		margin-top:5rem;
	}
}

@media only screen and (max-width:649px){
	.footer-container{
		margin:0;
		padding:0;
		display:inline-grid;
		width:100%;
		grid-template-columns: 100%;
		grid-template-rows: 1fr 1fr;

		margin-bottom:-5rem;
		
		gap:2rem;
	}
}

.cta{
    font-size:.75rem;
    margin-block:0.75rem 0;
    background-color: var(--primary-button);
    background-color: #404040;
    color: #f1f1f1;
    display:inline-block;
    padding:.4rem 1.2rem;
    border-radius:.25rem;

    transition: linear .3s;

    cursor: pointer;

    & > a{
        color: #FFF;
        text-decoration:none;
    }

    &:hover{
        background-color: var(--accent);
        background-color: #0d0d0d;
    }
}

.link-to{
	background-color: #0d0d0d;
	color:#f1f1f1;
	padding:0.5rem 1.25rem;
	border-radius:.5rem;
	text-decoration: none;

	transition:.3s linear;

	&:hover{
		background-color: #282323d9;
	}
}