
:root{
    --text: #0d0d0d;
    --subtitle: #0d0d0d;
    --background: #f2f2f2;
    --primary-button: #404040;
    --secondary-button: #ffffff;
    --accent: #0d0d0d;
    }
    
    .shop-item{
        background-color: var(--background);
        background-color: #efefeef1;
    
        position:relative;
    
        padding:1rem;
        margin-block:1rem -1rem;

    
        border-radius:.3rem;
    
        color:var(--text);
        color:#080707;
    
        width:18.75rem;
        height:26rem;
    }
    
    #header0, #header2{
        margin-bottom:2rem;
    }
    
    .cta{
        position:absolute;
        bottom:1rem;
    }
    
    @media only screen and (min-width:300px){
        .shop-container{
            display:grid;
            grid-auto-flow: row;
        }
    
        .wrapper{
            display:grid;
            grid-auto-flow: row;
    
            place-content: center;
            place-items: center;
            align-items: center;
            justify-content: center;
        }
    
        #header0, #header2{
            margin-bottom:1rem;
        }
    }
    
    @media only screen and (min-width:750px){
        .shop-container{
            display:grid;
            grid-auto-flow: row;
            grid-template-columns: 1fr 1fr;
            gap:1rem; 
        }
    }
    
    @media only screen and (min-width:1000px){
        .shop-container{
            display:grid;
            grid-auto-flow: row;
            grid-template-columns: 1fr 1fr 1fr;
            gap:1rem; 
        }
    }
    
    h3{
        font-size:1.4rem;
        margin-block:.75rem .75rem;
    }

    .shop-tags{
        font-size:.75rem;
        margin-block:0rem 0.75rem;
        background-color: var(--accent);
        background-color: #0d0d0d;
        color: #f1f1f1;
        display:inline-block;
        padding:.4rem 1rem;
        border-radius:2rem;
    }
    
    .cta{
        font-size:.75rem;
        margin-block:0.75rem 0;
        background-color: var(--primary-button);
        background-color: #404040;
        color: #f1f1f1;
        display:inline-block;
        padding:.4rem 1.2rem;
        border-radius:.25rem;
    
        transition: linear .3s;
    
        cursor: pointer;
    
        & > a{
            color: #FFF;
            text-decoration:none;
        }
    
        &:hover{
            background-color: var(--accent);
            background-color: #0d0d0d;
        }
    }
    /*shop item image*/
    .shop-item-image{
        width:250px;
        aspect-ratio: 16 / 9;
        object-fit: cover;

        border-radius:4px;
    }

    .article-header{
        font-size:2rem;
    }

    .content{
        text-wrap:balance;
    }