/**FOR ALL PAGES*/

  @import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.top{
	text-align:center;
	position:fixed;
	z-index:1;
	color:#000;
	background-color:#FFF;
	width:100%;
}

*{
	scroll-behavior:smooth;
	min-width:15%;
}

html, body{
	font-family:Inter, Arial, sans-serif;
	padding:0;
	margin:0;
	width:100%;
}

.active{
	text-decoration:underline;
	text-underline-offset:7px;
}

nav{
	z-index:1;
	font-size:20px;
	text-align:center;
	color:#ededed;
	background-color:#000;
	padding:20px;
}

nav ul{
	list-style-type:none;
}

nav li{
	display:inline-block;
	padding-right:20px;
}

nav a{
	text-decoration:none;
	color:#ededed;
}

nav a:hover{
	text-decoration:underline;
	text-underline-offset:7px;
}

main{
	padding-top:100px;
	font-size:20px;
	text-align:center;
	padding-bottom:20px;
}

em{
	font-size:18px;
}

main a{
	text-decoration:underline;
	color:#333;
}

main a:hover{
	text-decoration:none;
}

@media only screen and (max-width:768px){
	nav li{
		padding-bottom:10px;
	}
}
	
article{
	width:80%;
	margin-left:10%;
	margin-right:10%;
	text-align:center;
}

.findus{
	text-align:left;
	padding-left:5%;
}

.findus a{
	text-decoration:none;
}

.findus address{
	margin-top:-15px;
}

.findus a, address{
	font-size:18px;
}

.socials a{
	padding:7px;
	border:1px solid #333;
	border-radius:30px;
	transition:.3s ease;
}

.socials a:hover{
	padding:7px;
	border:2px solid #333;
	color:#FFF;
	background-color:#333;
	border-radius:30px;
}

.socials{
	width:100%;
}

.bottom-nav{
	font-size:14px;
	margin-bottom:20px;
}

.bottom-nav a{
	text-decoration:none;
}

.bottom-nav a:hover{
	text-decoration:underline;
}

.copy{
	font-size:12px;
}

a{
	overflow:none;
	white-space:nowrap;
}

body{
	width:100%;
}

footer{
	width:100%;
}

@media only screen and (max-width:1000px){
	.hero-inner h1{
		font-size:20px;
	}
}

.entry{
	background-color:#ededed;
	padding:10px;
	margin-bottom:20px;
	text-align:left;
}

.post-header{
	text-align:left;
	margin-bottom:-20px;
	margin-top:-10px;
}

.post-content{
	text-align:left;
	padding-bottom:20px;
}

.entry a{
	text-decoration:none;
	text-align:left;
	padding-top:-30px !important;
}

