
:root{
--text: #0d0d0d;
--subtitle: #0d0d0d;
--background: #f2f2f2;
--primary-button: #404040;
--secondary-button: #ffffff;
--accent: #0d0d0d;
}

.blog-post{
    background-color: var(--background);
    background-color: #efefeef1;

    padding:1rem;
    margin-block:1rem;

    border-radius:.3rem;

    color:var(--text);
    color:#080707;

    width:300px;
}

h3{
    font-size:1.4rem;
    margin-block:.75rem .75rem;
}

.date{
    font-size:.9rem;

    color: var(--subtitle);
    color:#080707e9;
}

.tags{
    font-size:.75rem;
    margin-block:0.75rem 0;
    background-color: var(--accent);
    background-color: #0d0d0d;
    color: #f1f1f1;
    display:inline-block;
    padding:.4rem 1rem;
    border-radius:2rem;
}

.cta{
    font-size:.75rem;
    margin-block:0.75rem 0;
    background-color: var(--primary-button);
    background-color: #404040;
    color: #f1f1f1;
    display:inline-block;
    padding:.4rem 1.2rem;
    border-radius:.25rem;

    transition: linear .3s;

    cursor: pointer;

    & > a{
        color: #FFF;
        text-decoration:none;
    }

    &:hover{
        background-color: var(--accent);
        background-color: #0d0d0d;
    }
}

